<div class="flex flex-col items-center lg:flex-row lg:space-x-2">
  <mat-form-field>
    <mat-label>過濾項</mat-label>
    <mat-select [value]="query.key" (valueChange)="setProvider($event)">
      <mat-option *ngFor="let provider of providers" [value]="provider.value">
        {{ provider.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field hideRequiredMarker>
    <mat-label>比對方式</mat-label>
    <mat-select
      #methodSelect
      [(ngModel)]="query.method"
      [disabled]="!provider"
      (valueChange)="notifyQueryUpdate()"
      required
    >
      <mat-option *ngFor="let method of methods" [value]="method.value">
        {{ method.label }}
      </mat-option>
    </mat-select>
    <mat-error>請選擇比對方式</mat-error>
  </mat-form-field>

  <app-text-input
    class="grow"
    *ngIf="provider?.type === 'text'"
    [provider]="provider"
    [value]="query.value"
    (active)="methodSelect._onBlur()"
    (updated)="valueUpdated($event)"
  ></app-text-input>
  <app-select-input
    class="grow"
    *ngIf="provider?.type === 'select'"
    [provider]="provider"
    [providerChange]="providerChange.asObservable()"
    [value]="query.value"
    (active)="methodSelect._onBlur()"
    (updated)="valueUpdated($event)"
  ></app-select-input>
  <app-week-time-range-input
    class="grow"
    *ngIf="provider?.type === 'time-range'"
    [provider]="provider"
    [providerChange]="providerChange.asObservable()"
    [value]="query.value"
    (active)="methodSelect._onBlur()"
    (updated)="valueUpdated($event)"
  ></app-week-time-range-input>

  <button
    mat-icon-button
    color="warn"
    class="place-self-center lg:place-self-auto"
    aria-label="刪除條件"
    (click)="removeQuery()"
    [disabled]="!deletable"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
