<div class="p-fluid p-float-label">
  <p-dropdown
    inputId="weekday"
    [options]="weekdays"
    [(ngModel)]="localValue.day"
    (ngModelChange)="notifyQueryUpdate()"
    optionLabel="label"
    optionValue="value"
    [placeholder]="weekLabel"
    [required]="true"
  ></p-dropdown>
  <label for="weekday">{{ weekLabel }}</label>
</div>

<div class="p-fluid p-float-label">
  <p-calendar
    class="h-full"
    styleClass="h-full"
    inputId="time"
    [showTime]="true"
    [timeOnly]="true"
    dataType="string"
    [(ngModel)]="localValue.time"
    [required]="true"
  ></p-calendar>
  <label for="time">{{ timeLabel }}</label>
</div>
