<mat-form-field appearance="fill">
  <mat-label>{{ weekLabel }}</mat-label>
  <mat-select>
    <mat-option *ngFor="let day of weekdays" [value]="day.key">
      {{ day.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="time-picker" appearance="fill">
  <mat-label>{{ timeLabel }}</mat-label>
  <input matInput [ngxMatTimepicker]="picker" [format]="24" />
  <ngx-mat-timepicker #picker></ngx-mat-timepicker>
  <mat-icon matSuffix>access_time</mat-icon>
</mat-form-field>
