<mat-card class="max-w-xs">
  <mat-card-header class="mb-2">
    <mat-card-title class="space-x-1 align-middle">
      <span class="space-x-1 border border-black px-1 py-0.5">
        <span>必修</span>
        <span>4</span>
      </span>
      <span>VTuber 實習</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="space-y-1">
    <div aria-label="teachers" class="flex flex-row items-center">
      <mat-icon class="shrink-0" fontIcon="person_pin"></mat-icon>
      <div class="flex flex-row flex-wrap">
        <button class="m-1 rounded-full border border-black py-0.5 px-2">
          兔田佩可拉
        </button>
        <button class="m-1 rounded-full border border-black py-0.5 px-2">
          櫻女巫
        </button>
      </div>
    </div>
    <div aria-label="place" class="flex flex-row items-center space-x-2">
      <mat-icon fontIcon="location_on"></mat-icon>
      <span>主顧 115</span>
    </div>
    <div aria-label="time" class="flex flex-row items-center space-x-2">
      <mat-icon
        aria-hidden="false"
        aria-label="Time"
        fontIcon="schedule"
      ></mat-icon>
      <span>四 5、6</span>
    </div>
    <button
      aria-label="code"
      class="float-right ml-1 flex items-center space-x-0.5 border border-black p-1 text-sm"
    >
      <span>2234</span>
      <mat-icon
        class="text-xs"
        style="height: auto; width: auto"
        fontIcon="content_copy"
      ></mat-icon>
    </button>
    <div
      aria-label="class"
      class="course-class flex flex-row items-center space-x-2"
    >
      <mat-icon fontIcon="groups"></mat-icon>
      <span>資傳四A</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="primary">
      <mat-icon fontIcon="info"></mat-icon>
      查看資訊
    </a>
    <button mat-button>
      <mat-icon fontIcon="content_copy"></mat-icon>
      複製
    </button>
  </mat-card-actions>
</mat-card>
